In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import math


from datetime import datetime
from sklearn.metrics import classification_report,accuracy_score, f1_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.preprocessing import StandardScaler, MinMaxScaler

import warnings
warnings.filterwarnings('ignore')

In [2]:
df1 = pd.read_csv('2017.csv',encoding='euc-kr')
df2 = pd.read_csv('2018.csv',encoding='euc-kr')
df3 = pd.read_csv('2018_2019.csv',encoding='euc-kr')
df4 = pd.read_csv('2019_2020.csv',encoding='euc-kr')
df5 = pd.read_csv('2020_2021.csv',encoding='euc-kr')
df6 = pd.read_csv('2021_2022.csv',encoding='euc-kr')

In [3]:
df1_c = df1.copy()
df2_c = df2.copy()
df3_c = df3.copy()
df4_c = df4.copy()
df5_c = df5.copy()
df6_c = df6.copy()

In [4]:
###결측치를 확인하고 결측치를 0으로 처리하기
df1_fillna = df1_c.fillna(0)
df2_fillna = df2_c.fillna(0)
df3_fillna = df3_c.fillna(0)
df4_fillna = df4_c.fillna(0)
df5_fillna = df5_c.fillna(0)
df6_fillna = df6_c.fillna(0)

In [5]:
### 서울지역 
seoul1 = df1_fillna[df1_fillna['지점']==108]
seoul2 = df2_fillna[df2_fillna['지점']==108]
seoul3 = df3_fillna[df3_fillna['지점']==108]
seoul4 = df4_fillna[df4_fillna['지점']==108]
seoul5 = df5_fillna[df5_fillna['지점']==108]
seoul6 = df6_fillna[df6_fillna['지점']==108]

In [6]:
seoul1

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),...,중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2017-01-01 00:00,0.2,0.0,2.2,20.0,79.0,4.9,-3.0,...,7.0,Sc,8.0,491.0,0.0,-0.9,0.1,0.3,1.7,2.6
1,108,서울,2017-01-01 01:00,0.0,0.0,1.4,20.0,78.0,4.8,-3.3,...,4.0,0,7.0,549.0,0.0,-0.9,0.0,0.3,1.7,2.6
2,108,서울,2017-01-01 02:00,-0.3,0.0,1.9,50.0,81.0,4.9,-3.1,...,1.0,0,8.0,483.0,0.0,-1.8,0.0,0.3,1.7,2.6
3,108,서울,2017-01-01 03:00,-0.7,0.0,2.0,50.0,84.0,4.9,-3.0,...,0.0,0,0.0,436.0,0.0,-2.1,0.0,0.3,1.7,2.7
4,108,서울,2017-01-01 04:00,-1.1,0.0,1.6,20.0,85.0,4.8,-3.3,...,0.0,0,0.0,430.0,0.0,-2.4,-0.1,0.4,1.7,2.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,108,서울,2017-12-31 19:00,0.0,0.0,2.2,340.0,31.0,1.9,-15.1,...,0.0,0,0.0,2000.0,0.0,-0.8,0.0,0.3,1.0,1.6
8756,108,서울,2017-12-31 20:00,-1.0,0.0,0.9,320.0,32.0,1.8,-15.6,...,0.0,0,0.0,2000.0,0.0,-0.9,0.0,0.2,0.9,1.6
8757,108,서울,2017-12-31 21:00,-1.6,0.0,1.0,270.0,35.0,1.9,-15.1,...,0.0,0,0.0,2000.0,0.0,-1.1,0.0,0.2,1.0,1.6
8758,108,서울,2017-12-31 22:00,-2.1,0.0,1.7,270.0,36.0,1.9,-15.2,...,0.0,0,0.0,2000.0,0.0,-1.4,-0.1,0.3,1.0,1.6
8759,108,서울,2017-12-31 23:00,-2.6,0.0,0.6,290.0,40.0,2.0,-14.3,...,0.0,0,0.0,2000.0,0.0,-1.9,0.0,0.3,1.0,1.6

In [7]:
seoul2

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),...,전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2018-01-01 00:00,-3.2,0.0,0.5,110,40,1.9,-14.9,...,0.0,0.0,0,0.0,1358,-2.2,0.0,0.3,1.0,1.5
1,108,서울,2018-01-01 01:00,-3.3,0.0,0.7,360,41,2.0,-14.7,...,0.0,0.0,0,0.0,2000,-2.7,-0.1,0.3,0.9,1.5
2,108,서울,2018-01-01 02:00,-3.7,0.0,0.9,270,42,2.0,-14.7,...,0.0,0.0,0,0.0,2000,-3.0,-0.2,0.3,0.9,1.6
3,108,서울,2018-01-01 03:00,-4.0,0.0,1.0,290,44,2.0,-14.4,...,0.0,0.0,0,0.0,2000,-3.5,-0.2,0.3,1.0,1.5
4,108,서울,2018-01-01 04:00,-4.2,0.0,1.1,290,53,2.4,-12.3,...,0.0,0.0,0,0.0,1994,-3.8,-0.3,0.3,0.9,1.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4076,108,서울,2018-06-19 20:00,22.4,0.0,2.2,250,62,16.7,14.7,...,0.0,0.0,0,0.0,1041,22.7,25.5,26.4,25.0,23.7
4077,108,서울,2018-06-19 21:00,21.6,0.0,2.4,250,66,16.9,14.9,...,9.0,4.0,AcCi,46.0,962,21.6,24.4,25.8,25.0,23.7
4078,108,서울,2018-06-19 22:00,20.8,0.0,2.1,290,71,17.4,15.3,...,0.0,6.0,0,51.0,800,20.4,23.6,25.2,24.8,23.8
4079,108,서울,2018-06-19 23:00,20.1,0.0,1.9,290,73,17.2,15.1,...,0.0,2.0,0,37.0,771,19.8,23.0,24.7,24.6,23.8
4080,108,서울,2018-06-20 00:00,19.7,0.0,2.0,270,71,16.2,14.2,...,7.0,7.0,Ac,35.0,1330,19.2,22.4,24.2,24.5,23.8

In [8]:
seoul3

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),...,중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2018-06-20 01:00,19.6,0.0,1.4,270.0,73,16.6,14.6,...,7.0,0,0.0,958.0,0.0,19.9,22.1,23.9,24.2,23.7
1,108,서울,2018-06-20 02:00,19.6,0.0,0.8,270.0,78,17.7,15.6,...,2.0,0,4.0,662.0,0.0,19.1,21.9,23.5,24.0,23.7
2,108,서울,2018-06-20 03:00,19.4,0.0,0.8,320.0,79,17.7,15.6,...,8.0,Sc,8.0,563.0,0.0,19.1,21.6,23.2,23.9,23.6
3,108,서울,2018-06-20 04:00,19.1,0.0,1.5,290.0,82,18.1,15.9,...,9.0,Sc,13.0,471.0,0.0,18.2,21.1,23.0,23.7,23.6
4,108,서울,2018-06-20 05:00,19.1,0.0,2.0,290.0,83,18.3,16.1,...,8.0,Sc,10.0,457.0,0.0,18.4,21.0,22.7,23.5,23.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,108,서울,2019-06-19 20:00,21.0,0.0,2.7,270.0,82,20.4,17.8,...,2.0,0,4.0,924.0,0.0,20.6,23.5,24.1,23.4,22.5
8756,108,서울,2019-06-19 21:00,20.5,0.0,2.7,290.0,83,20.0,17.5,...,8.0,Sc,13.0,1059.0,0.0,20.4,22.7,23.7,23.4,22.6
8757,108,서울,2019-06-19 22:00,20.4,0.0,2.9,270.0,82,19.6,17.2,...,7.0,0,12.0,966.0,0.0,20.4,22.4,23.3,23.3,22.6
8758,108,서울,2019-06-19 23:00,20.3,0.0,1.4,290.0,83,19.7,17.3,...,3.0,0,4.0,706.0,0.0,20.5,22.1,23.1,23.1,22.6
8759,108,서울,2019-06-20 00:00,20.4,0.0,0.6,340.0,83,19.9,17.4,...,9.0,Sc,6.0,756.0,0.0,20.6,22.0,22.8,22.9,22.5

In [9]:
seoul4

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),...,중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2019-06-20 01:00,20.3,0.0,1.0,270.0,84.0,20.0,17.5,...,8.0,0,5.0,769,0.0,20.4,21.8,22.6,22.8,22.5
1,108,서울,2019-06-20 02:00,20.3,0.0,1.2,320.0,83.0,19.7,17.3,...,9.0,0,5.0,704,0.0,20.4,21.7,22.4,22.7,22.4
2,108,서울,2019-06-20 03:00,20.3,0.0,1.2,340.0,84.0,20.0,17.5,...,9.0,Sc,7.0,647,0.0,20.3,21.6,22.3,22.6,22.4
3,108,서울,2019-06-20 04:00,20.2,0.0,0.4,0.0,84.0,19.9,17.4,...,9.0,Sc,11.0,677,0.0,20.2,21.4,22.2,22.5,22.4
4,108,서울,2019-06-20 05:00,20.1,0.0,0.2,0.0,84.0,19.7,17.3,...,8.0,Sc,6.0,741,0.0,19.9,21.3,22.1,22.4,22.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,108,서울,2020-06-19 20:00,24.9,0.0,2.9,290.0,63.0,19.7,17.3,...,0.0,0,0.0,1998,0.0,25.8,28.3,26.5,28.1,25.0
8780,108,서울,2020-06-19 21:00,23.9,0.0,2.7,290.0,65.0,19.2,16.9,...,0.0,0,0.0,1994,0.0,23.7,26.8,26.5,27.4,25.1
8781,108,서울,2020-06-19 22:00,23.3,0.0,2.0,320.0,67.0,19.1,16.8,...,0.0,0,0.0,1982,0.0,22.5,25.8,26.5,26.8,25.2
8782,108,서울,2020-06-19 23:00,22.9,0.0,2.2,320.0,68.0,18.9,16.6,...,0.0,0,0.0,1975,0.0,21.7,25.1,26.3,26.2,25.3
8783,108,서울,2020-06-20 00:00,22.4,0.0,1.5,320.0,70.0,18.9,16.6,...,0.0,0,0.0,1893,0.0,21.0,24.5,26.2,25.7,25.3

In [10]:
Seoul = pd.concat([seoul1,seoul2,seoul3,seoul4,seoul5,seoul6])

In [11]:
Seoul.count()

지점               47905
지점명              47905
일시               47905
기온(°C)           47905
강수량(mm)          47905
풍속(m/s)          47905
풍향(16방위)         47905
습도(%)            47905
증기압(hPa)         47905
이슬점온도(°C)        47905
현지기압(hPa)        47905
해면기압(hPa)        47905
일조(hr)           47905
일사(MJ/m2)        47905
적설(cm)           47905
3시간신적설(cm)       47905
전운량(10분위)        47905
중하층운량(10분위)      47905
운형(운형약어)         47905
최저운고(100m )      47905
시정(10m)          47905
지면상태(지면상태코드)     43824
지면온도(°C)         47905
5cm 지중온도(°C)     47905
10cm 지중온도(°C)    47905
20cm 지중온도(°C)    47905
30cm 지중온도(°C)    47905
dtype: int64

In [12]:
Seoul_d=Seoul[['지점명','일시','기온(°C)','강수량(mm)','풍속(m/s)','풍향(16방위)','습도(%)','지면온도(°C)','현지기압(hPa)']]

In [13]:
Seoul_d=Seoul_d.reset_index()

In [14]:
Seoul_d

,index,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),지면온도(°C),현지기압(hPa)
0,0,서울,2017-01-01 00:00,0.2,0.0,2.2,20.0,79.0,-0.9,1018.8
1,1,서울,2017-01-01 01:00,0.0,0.0,1.4,20.0,78.0,-0.9,1018.9
2,2,서울,2017-01-01 02:00,-0.3,0.0,1.9,50.0,81.0,-1.8,1018.5
3,3,서울,2017-01-01 03:00,-0.7,0.0,2.0,50.0,84.0,-2.1,1018.8
4,4,서울,2017-01-01 04:00,-1.1,0.0,1.6,20.0,85.0,-2.4,1018.6
...,...,...,...,...,...,...,...,...,...,...
47900,105115,서울,2022-06-19 20:00,24.3,0.0,1.1,320.0,77.0,23.3,996.9
47901,105116,서울,2022-06-19 21:00,24.0,0.0,1.9,320.0,79.0,22.7,997.3
47902,105117,서울,2022-06-19 22:00,23.7,0.0,1.4,250.0,81.0,22.3,997.4
47903,105118,서울,2022-06-19 23:00,23.4,0.0,1.3,290.0,83.0,21.8,997.2
47904,105119,서울,2022-06-20 00:00,23.0,0.0,0.9,320.0,85.0,21.0,996.9

In [15]:
Seoul_dr = Seoul_d.drop(labels = 'index', axis=1)

In [16]:
Seoul_dr

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),지면온도(°C),현지기압(hPa)
0,서울,2017-01-01 00:00,0.2,0.0,2.2,20.0,79.0,-0.9,1018.8
1,서울,2017-01-01 01:00,0.0,0.0,1.4,20.0,78.0,-0.9,1018.9
2,서울,2017-01-01 02:00,-0.3,0.0,1.9,50.0,81.0,-1.8,1018.5
3,서울,2017-01-01 03:00,-0.7,0.0,2.0,50.0,84.0,-2.1,1018.8
4,서울,2017-01-01 04:00,-1.1,0.0,1.6,20.0,85.0,-2.4,1018.6
...,...,...,...,...,...,...,...,...,...
47900,서울,2022-06-19 20:00,24.3,0.0,1.1,320.0,77.0,23.3,996.9
47901,서울,2022-06-19 21:00,24.0,0.0,1.9,320.0,79.0,22.7,997.3
47902,서울,2022-06-19 22:00,23.7,0.0,1.4,250.0,81.0,22.3,997.4
47903,서울,2022-06-19 23:00,23.4,0.0,1.3,290.0,83.0,21.8,997.2
47904,서울,2022-06-20 00:00,23.0,0.0,0.9,320.0,85.0,21.0,996.9

In [17]:
Seoul_dr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47905 entries, 0 to 47904
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지점명        47905 non-null  object
 1   일시         47905 non-null  object
 2   기온(°C)     47905 non-null  float64
 3   강수량(mm)    47905 non-null  float64
 4   풍속(m/s)    47905 non-null  float64
 5   풍향(16방위)   47905 non-null  float64
 6   습도(%)      47905 non-null  float64
 7   지면온도(°C)   47905 non-null  float64
 8   현지기압(hPa)  47905 non-null  float64
dtypes: float64(7), object(2)
memory usage: 3.3+ MB

In [18]:
Seoul_dr['doy'] = None
Seoul_dr['hour'] = None
Seoul_dr['year'] = None

In [19]:
Seoul_dr['datetime']= pd.to_datetime(Seoul_dr['일시'])

In [20]:
for i in Seoul_dr.index:
    Seoul_dr['doy'][i]=pd.Period(Seoul_dr['datetime'][i],freq='D')
    Seoul_dr['doy'][i]=Seoul_dr['datetime'][i].day_of_year

In [21]:
for i in Seoul_dr.index:
    Seoul_dr['year'][i]=pd.Period(Seoul_dr['datetime'][i],freq='D')
    Seoul_dr['year'][i]=Seoul_dr['datetime'][i].year

In [22]:
for i in Seoul_dr.index:
    Seoul_dr['hour'][i]=pd.Period(Seoul_dr['datetime'][i],freq='D')
    Seoul_dr['hour'][i]=Seoul_dr['datetime'][i].hour

In [23]:
Seoul_df=Seoul_dr[['기온(°C)','강수량(mm)','풍속(m/s)','풍향(16방위)','습도(%)','현지기압(hPa)','doy','year','hour','datetime']]
Seoul_df

,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),doy,year,hour,datetime
0,0.2,0.0,2.2,20.0,79.0,1018.8,1,2017,0,2017-01-01 00:00:00
1,0.0,0.0,1.4,20.0,78.0,1018.9,1,2017,1,2017-01-01 01:00:00
2,-0.3,0.0,1.9,50.0,81.0,1018.5,1,2017,2,2017-01-01 02:00:00
3,-0.7,0.0,2.0,50.0,84.0,1018.8,1,2017,3,2017-01-01 03:00:00
4,-1.1,0.0,1.6,20.0,85.0,1018.6,1,2017,4,2017-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...
47900,24.3,0.0,1.1,320.0,77.0,996.9,170,2022,20,2022-06-19 20:00:00
47901,24.0,0.0,1.9,320.0,79.0,997.3,170,2022,21,2022-06-19 21:00:00
47902,23.7,0.0,1.4,250.0,81.0,997.4,170,2022,22,2022-06-19 22:00:00
47903,23.4,0.0,1.3,290.0,83.0,997.2,170,2022,23,2022-06-19 23:00:00
47904,23.0,0.0,0.9,320.0,85.0,996.9,171,2022,0,2022-06-20 00:00:00

In [24]:
Seoul_dfs=Seoul_df.set_index('datetime',drop=True,append=False,inplace=False)

In [25]:
Seoul_dfs.head(8760)

,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),doy,year,hour
datetime,,,,,,,,,
2017-01-01 00:00:00,0.2,0.0,2.2,20.0,79.0,1018.8,1,2017,0
2017-01-01 01:00:00,0.0,0.0,1.4,20.0,78.0,1018.9,1,2017,1
2017-01-01 02:00:00,-0.3,0.0,1.9,50.0,81.0,1018.5,1,2017,2
2017-01-01 03:00:00,-0.7,0.0,2.0,50.0,84.0,1018.8,1,2017,3
2017-01-01 04:00:00,-1.1,0.0,1.6,20.0,85.0,1018.6,1,2017,4
...,...,...,...,...,...,...,...,...,...
2017-12-31 19:00:00,0.0,0.0,2.2,340.0,31.0,1013.5,365,2017,19
2017-12-31 20:00:00,-1.0,0.0,0.9,320.0,32.0,1014.1,365,2017,20
2017-12-31 21:00:00,-1.6,0.0,1.0,270.0,35.0,1014.3,365,2017,21
2017-12-31 22:00:00,-2.1,0.0,1.7,270.0,36.0,1014.7,365,2017,22
2017-12-31 23:00:00,-2.6,0.0,0.6,290.0,40.0,1015.1,365,2017,23

In [26]:
target=['기온(°C)','강수량(mm)','풍속(m/s)','풍향(16방위)','습도(%)','현지기압(hPa)']
X = Seoul_dfs.drop(target,axis=1)
condition = (X['year'] > 2016) & (X['year'] <= 2021)
condition1 = (X['year'] > 2021)
y = Seoul_dfs[target]

In [27]:
X_train = X[condition]
X_train[X_train['doy']==189]

                     doy  year hour
datetime
2017-07-08 00:00:00  189  2017    0
2017-07-08 01:00:00  189  2017    1
2017-07-08 02:00:00  189  2017    2
2017-07-08 03:00:00  189  2017    3
2017-07-08 04:00:00  189  2017    4
...                  ...   ...  ...
2021-07-08 19:00:00  189  2021   19
2021-07-08 20:00:00  189  2021   20
2021-07-08 21:00:00  189  2021   21
2021-07-08 22:00:00  189  2021   22
2021-07-08 23:00:00  189  2021   23

[120 rows x 3 columns]

In [28]:
X_test = X[condition1]
X_test

                     doy  year hour
datetime
2022-01-01 00:00:00    1  2022    0
2022-01-01 01:00:00    1  2022    1
2022-01-01 02:00:00    1  2022    2
2022-01-01 03:00:00    1  2022    3
2022-01-01 04:00:00    1  2022    4
...                  ...   ...  ...
2022-06-19 20:00:00  170  2022   20
2022-06-19 21:00:00  170  2022   21
2022-06-19 22:00:00  170  2022   22
2022-06-19 23:00:00  170  2022   23
2022-06-20 00:00:00  171  2022    0

[4081 rows x 3 columns]

In [29]:
y_train = y[condition]
y_train

                     기온(°C)  강수량(mm)  풍속(m/s)  풍향(16방위)  습도(%)  현지기압(hPa)
datetime
2017-01-01 00:00:00     0.2      0.0      2.2      20.0   79.0     1018.8
2017-01-01 01:00:00     0.0      0.0      1.4      20.0   78.0     1018.9
2017-01-01 02:00:00    -0.3      0.0      1.9      50.0   81.0     1018.5
2017-01-01 03:00:00    -0.7      0.0      2.0      50.0   84.0     1018.8
2017-01-01 04:00:00    -1.1      0.0      1.6      20.0   85.0     1018.6
...                     ...      ...      ...       ...    ...        ...
2021-12-31 19:00:00    -6.4      0.0      2.2     250.0   34.0     1021.1
2021-12-31 20:00:00    -6.3      0.0      4.1     320.0   35.0     1021.2
2021-12-31 21:00:00    -6.7      0.0      4.8     320.0   36.0     1021.2
2021-12-31 22:00:00    -7.5      0.0      3.0     320.0   37.0     1021.8
2021-12-31 23:00:00    -7.7      0.0      2.9     320.0   38.0     1021.9

[43824 rows x 6 columns]

In [30]:
y_test = y[condition1]
y_test

                     기온(°C)  강수량(mm)  풍속(m/s)  풍향(16방위)  습도(%)  현지기압(hPa)
datetime
2022-01-01 00:00:00    -8.5      0.0      1.9     320.0   41.0     1021.9
2022-01-01 01:00:00    -9.2      0.0      1.8     270.0   42.0     1022.2
2022-01-01 02:00:00    -9.5      0.0      1.2     270.0   43.0     1022.3
2022-01-01 03:00:00    -9.3      0.0      1.4     290.0   46.0     1022.6
2022-01-01 04:00:00    -9.6      0.0      1.7     340.0   48.0     1021.9
...                     ...      ...      ...       ...    ...        ...
2022-06-19 20:00:00    24.3      0.0      1.1     320.0   77.0      996.9
2022-06-19 21:00:00    24.0      0.0      1.9     320.0   79.0      997.3
2022-06-19 22:00:00    23.7      0.0      1.4     250.0   81.0      997.4
2022-06-19 23:00:00    23.4      0.0      1.3     290.0   83.0      997.2
2022-06-20 00:00:00    23.0      0.0      0.9     320.0   85.0      996.9

[4081 rows x 6 columns]

In [31]:
 y_train.shape, y_test.shape

((43824, 6), (4081, 6))

In [32]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((43824, 3), (4081, 3), (43824, 6), (4081, 6))

In [33]:
clf = RandomForestRegressor()
clf.fit(X_train, y_train)

RandomForestRegressor()

In [34]:
y_predict=clf.predict(X_test)

In [35]:
X_train[X_train['doy']==176]

                     doy  year hour
datetime
2017-06-25 00:00:00  176  2017    0
2017-06-25 01:00:00  176  2017    1
2017-06-25 02:00:00  176  2017    2
2017-06-25 03:00:00  176  2017    3
2017-06-25 04:00:00  176  2017    4
...                  ...   ...  ...
2021-06-25 19:00:00  176  2021   19
2021-06-25 20:00:00  176  2021   20
2021-06-25 21:00:00  176  2021   21
2021-06-25 22:00:00  176  2021   22
2021-06-25 23:00:00  176  2021   23

[120 rows x 3 columns]

In [43]:
def is_leap_year(year):
    if year % 100 == 0:
        return year % 400 == 0
    return year % 4 == 0
    
def doy(M,D):
    if is_leap_year(2022):
        K = 1
    else:
        K = 2
    N = int((275 * M) / 9.0) - K * int((M + 9) / 12.0) + D - 30
    return N

SyntaxError: invalid syntax (<ipython-input-43-6f950ac2528e>, line 13)

In [42]:
def explain_prediction(doy(M,D),hour):
    y_pred = clf.predict([[N,2022,hour]])
    
    pred = f"""2022년 {M}월{D}일의 {hour}시의 날씨 
    {round(float(y_pred[0][0]),2)} : 기온(°C),
    {round(float(y_pred[0][1]),2)} : 강수량(mm),
    {round(float(y_pred[0][2]),2)} : 풍속(m/s),
    {round(float(y_pred[0][3]),2)} : 풍향(16방위),
    {round(float(y_pred[0][4]),2)} : 습도(%),
    {round(float(y_pred[0][5]),2)} : 현지기압(hPa)"""

    return pred

SyntaxError: invalid syntax (<ipython-input-42-acddcd9a6552>, line 1)

In [41]:
print(explain_prediction(doy(7,28),17))

NameError: name 'M' is not defined

In [ ]:
400/30

In [ ]:
31%30

In [ ]:
205

In [ ]:
today = datetime.now()

In [ ]:
def is_leap_year(year):
    if year % 100 == 0:
        return year % 400 == 0
    return year % 4 == 0

def doy(M,D):
    if is_leap_year(2022):
        K = 1
    else:
        K = 2
    N = int((275 * M) / 9.0) - K * int((M + 9) / 12.0) + D - 30
    return N

In [ ]:
doy(6,25)